@{
    ViewData["Title"] = "Calculator";

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script type="text/javascript">
        let value = "";
        let currentNum = "";

        function isNumeric(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function executeOperators(val) { 
            if (!isNumeric(val[val.length - 1])) return eval(val.substring(0, val.length - 1));
            return eval(val);
        }

        function YourFunction(str) {
            if (value == "Calculated") { document.getElementById("display").value = ""; value = ""; }
            const inputValue = document.getElementById("display").value;
            console.log(str);
            switch(str)
            {
                case "delete": document.getElementById("display").value = inputValue.substring(0, inputValue.length - 1); break
                case "CE": document.getElementById("display").value = ""; currentNum= ""; break;
                case "C": document.getElementById("display").value = ""; value=""; break;
                case "1": document.getElementById("display").value += "1"; currentNum+= "1"; break;
                case "2": document.getElementById("display").value += "2"; currentNum+="2";break;
                case "3": document.getElementById("display").value += "3"; currentNum+="3";break;
                case "4": document.getElementById("display").value += "4"; currentNum+="4";break;
                case "5": document.getElementById("display").value += "5"; currentNum+="5";break;
                case "6": document.getElementById("display").value += "6"; currentNum+="6";break;
                case "7": document.getElementById("display").value += "7"; currentNum+="7";break;
                case "8": document.getElementById("display").value += "8"; currentNum+="8";break;
                case "9": document.getElementById("display").value += "9"; currentNum+="9";break;
                case "0": document.getElementById("display").value += "0"; currentNum+="0";break;
                case ",": document.getElementById("display").value += ","; currentNum+=".";break;


                case "1/x": currentNum = 1 / currentNum; document.getElementById("display").value = currentNum; break;
                case "square": currentNum *= currentNum; document.getElementById("display").value = currentNum; break;
                case "sqrt": currentNum = Math.pow(currentNum,1/2); document.getElementById("display").value = currentNum; break;
                case "+/-": currentNum *= -1; document.getElementById("display").value = currentNum; break;

                case "%": currentNum = executeOperators(value) / 100 * currentNum; document.getElementById("display").value = currentNum;
                            // if(currentNum)value += currentNum; 
                            break;
                case "+": document.getElementById("display").value = ""; value += currentNum; value = executeOperators(value) + "+" ; currentNum = ""; break;
                case "X": document.getElementById("display").value = ""; value += currentNum; value = executeOperators(value) + "*"; currentNum = ""; break;
                case "-": document.getElementById("display").value = ""; value += currentNum; value = executeOperators(value) + "-"; currentNum = ""; break;
                case "/": document.getElementById("display").value = ""; value += currentNum; value = executeOperators(value) + "/"; currentNum = ""; break;
                case "=": value += currentNum; document.getElementById("display").value = executeOperators(value); value = "Calculated"; currentNum = ""; break;
            }
            console.log("value: "+value);
            console.log("currentNum: "+currentNum);
            document.getElementById("value").innerHTML = value;
            // document.getElementById("display").value += str;
        }
    </script>
</head>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Calculator</h5>
                    <p id="value"></p>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="display" readonly>
                        </div>
                        <div class="row justify-content-around">
                            <button type="button" onclick="YourFunction('%')" class="btn btn-primary" style="width:20%;height:60px">%</button>
                            <button type="button" onclick="YourFunction('CE')"class="btn btn-primary" style="width:20%;height:60px">CE</button>
                            <button type="button" onclick="YourFunction('C')"class="btn btn-primary" style="width:20%;height:60px">C</button>
                            <button type="button" onclick="YourFunction('delete')"class="btn btn-primary btn-danger" style="width:20%;height:60px"><-</button>
                        </div>
                        <div class="row justify-content-around mt-1">
                            <button type="button" onclick="YourFunction('1/x')" class="btn btn-primary" style="width:20%;height:60px">1/x</button>
                            <button type="button" onclick="YourFunction('square')" class="btn btn-primary" style="width:20%;height:60px">x^2</button>
                            <button type="button" onclick="YourFunction('sqrt')" class="btn btn-primary" style="width:20%;height:60px">√x</button>
                            <button type="button" onclick="YourFunction('/')" class="btn btn-primary" style="width:20%;height:60px">/</button>
                        </div>
                        <div class="row justify-content-around mt-1">
                            <button type="button" onclick="YourFunction('7')" class="btn btn-primary btn-dark" style="width:20%;height:60px">7</button>
                            <button type="button" onclick="YourFunction('8')" class="btn btn-primary btn-dark" style="width:20%;height:60px">8</button>
                            <button type="button" onclick="YourFunction('9')" class="btn btn-primary btn-dark" style="width:20%;height:60px">9</button>
                            <button type="button" onclick="YourFunction('X')" class="btn btn-primary" style="width:20%;height:60px">X</button>
                        </div>
                        <div class="row justify-content-around mt-1">
                            <button type="button" onclick="YourFunction('4')" class="btn btn-primary btn-dark" style="width:20%;height:60px">4</button>
                            <button type="button" onclick="YourFunction('5')" class="btn btn-primary btn-dark" style="width:20%;height:60px">5</button>
                            <button type="button" onclick="YourFunction('6')" class="btn btn-primary btn-dark" style="width:20%;height:60px">6</button>
                            <button type="button" onclick="YourFunction('-')" class="btn btn-primary" style="width:20%;height:60px">-</button>
                        </div>
                        <div class="row justify-content-around mt-1">
                            <button type="button" onclick="YourFunction('1')" class="btn btn-primary btn-dark" style="width:20%;height:60px">1</button>
                            <button type="button" onclick="YourFunction('2')" class="btn btn-primary btn-dark" style="width:20%;height:60px">2</button>
                            <button type="button" onclick="YourFunction('3')" class="btn btn-primary btn-dark" style="width:20%;height:60px">3</button>
                            <button type="button" onclick="YourFunction('+')" class="btn btn-primary" style="width:20%;height:60px">+</button>
                        </div>
                        <div class="row justify-content-around mt-1">
                            <button type="button" onclick="YourFunction('+/-')" class="btn btn-primary btn-dark" style="width:20%;height:60px">+/-</button>
                            <button type="button" onclick="YourFunction('0')" class="btn btn-primary btn-dark" style="width:20%;height:60px">0</button>
                            <button type="button" onclick="YourFunction(',')" class="btn btn-primary btn-dark" style="width:20%;height:60px">,</button>
                            <button type="button" onclick="YourFunction('=')" class="btn btn-primary btn-success" style="width:20%;height:60px">=</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
